@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
}

.container{
    display: flex;
}

/* regole aside */

aside{
    background-color: black;
    width: 200px;
    max-height: calc(100vh - 80px);
    color: #696969;
    font-size: 13px;
    font-weight: 700;
    overflow: hidden;
    position: relative;
    padding-bottom: 60px;
}

aside>img{
    max-width: 60%;
    margin: 15px 18px 20px;
}

aside>a{
    display: block;
    height: 30px;
    text-decoration: none;
    color: #696969;
    margin-bottom: 5px;
}

aside>.home{
    border-left: 3px solid #adff2f;
    color: white;
}

aside>a img{
    max-height: 100%;
    padding: 3px 0;
    margin-left: 15px;
    filter: brightness(60%);
}

aside>a span{
    line-height: 30px;
    vertical-align: top;
}

aside>a:hover img{
    filter: brightness(100%);
}

aside>a:hover span{
    color: white;
}

aside>h4{
    color: white;
    margin-left: 18px;
    margin-top: 20px;
    margin-bottom: 15px;
}

aside>.createPlaylist{
    height: 35px;
    margin-bottom: 15px;
}

aside a>.add{
    display: inline-block;
    height: 35px;
    width: 35px;
    text-align: center;
    background-color: white;
    filter: brightness(60%);
    margin-left: 18px;
    margin-right: 5px;
}

aside>a .add>span{
    line-height: 35px;
    vertical-align: middle;
    color: black;
    font-size: 35px;
    font-weight: 600;
}

aside>.createPlaylist:hover div{
    filter: brightness(100%);
}

aside>.playlistBox{
    height: calc(100% - 300px);
    overflow: auto;
}

aside>.playlistBox a{
    display: block;
    margin: 15px 18px;
    text-decoration: none;
    color: #696969;
}

aside>.playlistBox a:hover{
    color: white;
}

aside>.foot{
    width: 100%;
    padding: 0 18px;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: black;
}

aside>.foot .installer{
    display: block;
    text-decoration: none;
    color: #696969;
    height: 25px;
    border-bottom: 1px solid #696969;
}

aside>.foot .installer>img{
    height: 15px;
    filter: brightness(60%);
    vertical-align: middle;
    margin-right: 3px;
}

aside>.foot .installer>span{
    font-size: 10px;
}

aside>.foot .installer:hover img{
    filter: brightness(100%);
}

aside>.foot .installer:hover span{
    color: white;
}

aside>.foot .profile{
    height: 35px;
    color: white;
    margin-top: 10px;
}

aside>.foot .profile>img{
    height: 60%;
    background-color: #696969;
    border-radius: 50%;
    padding: 0 2px;
    vertical-align: middle;
    margin-right: 5px;
}

/* fine regole aside */

/* regole aside .minimal */

aside.minimal{
    background-color: black;
    width: 50px;
    max-height: calc(100vh - 80px);
    display: none;
    text-align: center;
}

aside.minimal>img{
    margin: 10px;
}

aside.minimal>a img{
    margin: 0;
}

aside.minimal>a{
    margin: 0;
}

aside.minimal>.foot{
    padding: 0;
}

aside.minimal>.foot .installer{
    border-bottom: none;
}

aside.minimal>.foot .profile>img{
    margin-right: 0;
}

/* fine regole aside .minimal */

/* regole main */

main{
    background-color: #141922;
    height: calc(100vh - 80px);
    width: calc(100vw - 200px);
    color: white;
    padding-top: 70px;
    padding-bottom: 30px;
    position: relative;
    overflow: auto;
}

main>header{
    background-color: rgba(0, 0, 0, 0.5);
    height: 70px;
    width: calc(100vw - 200px);
    text-align: right;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

main header>a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
    font-weight: 600;
    border: 2px solid rgba(255, 255, 255, 0.7);
    display: inline-block;
    padding: 0 40px;
    border-radius: 22px;
    margin-right: 15px;
    font-size: 13px;
    height: 44px;
    line-height: 40px;
}

main header>a:hover{
    transform: scale(1.1);
}

main>nav{
    text-align: center;
}

main>nav li{
    display: inline-block;
}

main>nav a{
    text-decoration: none;
    color: #696969;
    font-size: 13px;
    font-weight: 600;
    display: block;
    height: 30px;
    line-height: 30px;
    margin: 10px 10px;
}

main>nav .selected{
    position: relative;
}

main>nav .selected div{
    width: 40px;
    border: 1px solid #adff2f;
    position: absolute;
    left: 50%;
    bottom: 10px;
    transform: translateX(-50%);
}

main>nav a:hover{
    color: white;
}

main>.row{
    margin: 0 10px;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

main>h2{
    margin-top: 40px;
    margin-left: 15px;
    margin-bottom: 5px;
}

main>.row article{
    width: 180px;
    margin: 0 5px 10px;
    text-align: center;
}

main>.row article img{
    max-width: 100%;
}

main>.row article>h5{
    margin-bottom: 5px;
}

main>.row article>span{
    color: #696969;
    font-size: 12px;
    font-weight: 600;
}

main>.row article>div{
    width: 100%;
    position: relative;
    margin-bottom: 10px;
}

main>.row article>div i{
    font-size: 30px;
    border: 5px solid white;
    border-radius: 50%;
    padding: 12px 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

main>.row.popular article img{
    border-radius: 50%;
}

main>.row article:hover img{
    filter: brightness(60%);
}

main>.row article:hover i{
    display: block;
}

main>.row article:hover{
    cursor: pointer;
}

main>.row article.empty:hover{
    cursor: default;
}

main>span{
    color: #696969;
    font-size: 12px;
    font-weight: 600;
    margin-left: 15px;
}

/* fine regole main */

/* regole footer */

footer{
    background-color: #282828;
    height: 80px;
    width: 100%;
    color: white;
    display: flex;
    justify-content: space-between;
}

footer>.sx, footer>.dx{
    width: 200px;
}

footer>.sx{
    display: flex;
    justify-content: space-between;
}

footer .sx>div{    
    display: flex;
    align-items: center;
}

footer .sx>div img{
    max-width: 30%;
    margin: 0 10px;
}

footer .sx>div div{
    display: inline-block;
}

footer .sx>div span{
    color: #848484;
    font-size: 10px;
    font-weight: 600;
    vertical-align: top;
}

footer .sx>div span:hover{
    color: white;
    text-decoration: underline;
    cursor: pointer;
}

footer .sx>div i{
    color: #848484;
    margin-right: 10px;
}

footer .sx>div i:hover{
    color: white;
    cursor: pointer;
}

footer>.cx{
    width: 33%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

footer .cx>div{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 192px;
    margin: 5px 0;
}

footer .cx>div i{
    margin: 0 10px;
}

footer i:hover{
    cursor: pointer;
}

footer .cx>div i.fa-play:hover{
    transform: scale(1.1);
}

footer .cx>div i.fa-play{
    border: 3px solid white;
    border-radius: 50%;
    padding: 5px 6px;
    margin: 0 20px;
}

footer .cx>div span{
    color: white;
    font-size: 10px;
    font-weight: 600;
}

footer .progressionBar{
    margin: 0 30px;
    background-color: #5a5a5a;
    border-radius: 3px;
    flex-grow: 1;
    position: relative;
}

footer .progressionBar>.progressionEffect{
    margin: 0;
    border: 2px solid #c1c1c1;
    border-radius: 3px;
    width: 20%;
}

footer .progressionBar>.hoverEffect{
    border: 5px solid white;
    border-radius: 50%;
    position: absolute;
    left: 19%;
    top: 50%;
    transform: translateY(-50%);
    display: none;
}

footer .progressionBar:hover{
    cursor: pointer;
}

footer .progressionBar:hover .progressionEffect{
    border: 2px solid #adff2f;
}

footer .progressionBar:hover .hoverEffect{
    display: inline-block;
}

footer>.dx{
    display: flex;
    align-items: center;
    justify-content: center;
}

footer>.dx i{
    font-size: 12px;
    margin-right: 15px;
}

footer .dx>div{
    width: 100%;
}

footer .dx .progressionBar{
    margin-right: 15px;
    margin-left: 0;
}

/* fine regole footer */

@media screen and (max-width: 980px) {
    main>.row{
        flex-wrap: wrap;
        justify-content: flex-start;        
    }

    main>.row article{
        width: calc(25% - 10px);
    }
}

@media screen and (max-width: 730px) {    
    main>.row article{
        width: calc(50% - 10px);
    }
}

@media screen and (max-width: 630px) {
    aside{
        display: none;
    }

    aside.minimal{
        display: block;
    }

    main{
        width: calc(100vw - 50px);
    }

    main>header{
        width: calc(100vw - 50px);
    }

    footer .sx>div.icons{
        flex-direction: column;
        justify-content: center;
    }

    footer .sx>div.icons i{
        margin: 2px 30px;
    }

    footer>.sx, footer>.dx{
        width: calc(50% - 96px);
    }

    footer>.cx{
        width: 192px;
    }

    footer>.dx{
        margin-left: 20px;
    }

    footer>.dx i{
        margin-right: 10px;
    }
}

@media screen and (max-width: 500px){
    footer .sx>div img{
        display: none;
    }
    
    footer .sx>div div{
        margin-left: 15px;
    }
}

@media screen and (max-height: 500px){
    aside.normal>.foot{
        display: none;
    }

    aside.normal{
        padding-bottom: 0;
    }
}